body,
html {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: "Roboto", sans-serif;
	background-color: rgba(218,223,243,255);
}

/*
color
rgba(47,58,116,255) font color
rgb(97,109,199) name block
rgb(231,232,246) block color
rgb(159,199,197) like color
rgb(243,163,155) dislike color
rgba(183,190,232,255) title color
*/

/*container*/

.container {
	margin: auto;
	width: 70%;
	display: flex; 
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 25px;
}

.container2 {
	width: 100% ;
	padding-top: 50px;
	padding-bottom: 25px;
	font: optional;
	background-color: rgb(248, 248, 248);
	align-items: center;
	display: flex;
	justify-content: center;
}

.container3 {
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(248, 248, 248);
	justify-content: center;
	padding: 0px 15%;
}

.container4 {
	background-color: rgb(248, 248, 248);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	row-gap: 50px;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.container5 {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*banner*/

.title-block {
	background-color: rgba(183,190,232,255);
	width: 50%;
	min-width: 250px;
	height: fit-content;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 50px auto;
	border-radius: 25px;
	box-shadow: 7px 7px 5px rgba(191,195,220,255);
	text-align: center;
	align-self: center;
}

.title-name {
	font-size: max(4vw,30px);
	font-weight: 500;
	display: inline-block;
	text-align: center;
	color: rgba(47,58,116,255);
	padding-top: 10px auto;
	padding-bottom: 10px auto;
	background-size: contain;
	align-items: center;
}

.result-banner {
	font-size: max(5vw,30px);
	font-weight: 500;
	text-align: center;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	background-size: contain;
	background-color: rgb(76, 95, 197);
	width: 50% ;
	min-width: 250px;
	margin: 0px auto;
	border-radius: 25px;
	box-shadow: 5px 5px 5px rgba(191,195,220,255);
}

/*button*/

.btn-add-main-block {
	background-color: rgb(245,247,252);
	border-radius: 10px;
	margin-top: 5px;
	width: 250px;
	cursor: pointer;
	border: none;
	/*
	float: center;
	background-image: url("/images/add.png");
	background-size: cover;
	width: 18px;
	height: 18px;
	*/
	font-size: 30px;
	font-weight: bolder;
	color: black;
	text-align: center;
}

.del-sub-btn{
	float: right;
    cursor: pointer;
	border: none;
	background-image: url("/images/del-sub.png");
	background-size: cover;
	width: 18px;
	height: 18px;
	background-color: transparent;
}

.del-main-btn{
	float: right;
    cursor: pointer;
	border: none;
	background-image: url("/images/del.png");
	background-size: cover;
	width: 25px;
	height: 25px;
	background-color: transparent;
}

 /*block*/

.main-block {
	/* */
	background-color: rgba(237,240,249,255);
	margin: 10px;
	padding: 10px;
	max-width: 250px;
	width: auto;
	border-radius: 15px;
	box-shadow: 3px 3px 2px rgba(191,195,220,255);
}


.like {
	/* */
	background-color: rgba(163,210,194,255);
	padding: 10px;
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dislike {
	/* */
	background-color: rgba(244,165,152,255);
	padding: 10px;
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sub-block {
	background-color: rgba(255, 255, 255, 0.445);
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10px;
}
 
.add-sub-block {
	position: relative;
	background-color: rgba(255, 255, 255, 0.445);
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10px 10px 10px 10px;
}

.add-main-block {
	background-color: rgba(237,240,249,255);
	margin: 10px;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 3px 3px 2px rgba(191,195,220,255);
	justify-content: center;
}

.top-name {
	background-color: rgb(97,109,199);
	padding: 20px;
	margin-bottom: 5px;
	border-radius: 15px;
	max-width: 245px;
	width: auto;
	/* (shadow)
	box-shadow: 5px 5px 30px rgba(6, 6, 6, 0.5); */
}

.add-sub-block select {
	display: none;
}

.dropdown {
	margin-bottom: 5px;
}

.myInput {
	/* add like/dislike block*/
	font-size: 16px;
	padding: 10px 10px 10px 10px;
	border: none;
	display: block;
	border-radius: 15px;
	cursor: pointer;
}

.myInput:focus {
	outline: 3px solid #ddd;
	cursor: pointer;
}

.dropdown-content .dropdown-item:hover {
	background-color: #f1f1f1;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f6f6f6;
	min-width: 230px;
	border: 1px solid #ddd;
	z-index: 1;
	cursor: pointer;
}

.show {
	display: block;
}

.dropdown-item{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.tableShow{
	display: none;
}

.input-name{
	/* add person block*/
	font-size: 16px;
	padding: 10px 10px 10px 10px;
	border: none;
}

p{
	display: inline;
}

h3{
	display: inline;
	color: white;
}

/*
for display result (in html)
*/

#inputGroup {
	width: 66px;
	height: 33px;
	border-radius: 10px;
	border-width: 1px;
}

.genButton{
	width: auto;
	height: 40px;
	background-color: rgb(76, 95, 197);
	box-shadow: 5px 5px 5px rgba(191,195,220,255);
	border-radius: 10px;
	color: white;
	cursor: pointer;
	border: none;
	margin: auto 10px;
	font-size: 16px;
	font-weight: 500;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}


 /*
 show result in showResult.js
 */

#sub_block {
	background-color: rgb(218, 223, 243);
	margin: 10px;
	padding: 10px;
	width: 250px;
	border-radius: 15px 15px 15px 15px;
}

#sub_sub_block {
	background-color: rgb(112, 127, 210);
	padding: 10px;
	margin: 10px ;
	border-radius: 15px 15px 15px 15px;
	color: white;
}

#header_block {
	padding-left: 10px;
	color: rgb(78, 75, 177);
}

#likeTitle {
	padding: 5px 10px;
	color: black;
	font-size: 1.17em;
	font-weight: 500;
}

#dislikeTitle {
	padding: 5px 10px;
	color: black;
	font-size: 1.17em;
	font-weight: 500;
}

.enter_num {
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.input_num {
	font-size: large;
}

.inputGroup {
	/*
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center ;
	*/
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*unused

.banner {
	width: 500px;
	height: 120px;
	margin: auto;
	text-align: center;
	background-color: rgb(223, 248, 6);
	border: 5px solid red;
	border-radius: 15px 15px 15px 15px;
}

.sub1-banner {
	text-shadow: 3px 4px 5px #fa9f01;
}

.sub2-banner {
	text-decoration: underline;
}

.button-style {
	background-color: rgb(219, 158, 254);
	border-radius: 15px 15px 15px 15px;
}

.generate-button-style {
	width: 120px;
	height: 80px;
	background-color: rgb(219, 158, 254);
	border-radius: 15px 15px 15px 15px;
}
*/