body,
html {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: "Roboto", sans-serif;

	background: #33CCCC;
  	animation: color 10s infinite linear;
	/*
	text-align: center;
	*/
}

@keyframes color {
	0%   { background: #33CCCC; }
	20%  { background: #0206f9; }
	40%  { background: #cd04fa; }
	60%  { background: #16bdff; }
	80%  { background: #7c97f9; }
	100% { background: #f900bf; }
}

.banner {
	width: 500px;
	height: 120px;
	margin: auto;
	text-align: center;
	background-color: rgb(223, 248, 6);
	border: 5px solid red;
	border-radius: 15px 15px 15px 15px;
}

.sub1-banner {
	text-shadow: 3px 4px 5px #fa9f01;
}

.sub2-banner {
	text-decoration: underline;
}

.button-style {
	background-color: rgb(219, 158, 254);
	border-radius: 15px 15px 15px 15px;
}

.generate-button-style {
	width: 120px;
	height: 80px;
	background-color: rgb(219, 158, 254);
	border-radius: 15px 15px 15px 15px;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.main-block {
	background-color: aqua;
	margin: 10px;
	padding: 10px;
	width: 250px;
	border-radius: 15px 15px 15px 15px;
}

.like {
	background-color: green;
	padding: 10px;
	margin: 10px ;
	border-radius: 15px 15px 15px 15px;
}

.dislike {
	background-color: red;
	padding: 10px;
	margin: 10px ;
	border-radius: 15px 15px 15px 15px;
}

.sub-block {
	background-color: rgba(255, 255, 255, 0.445);
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10px 10px 10px 10px;
}

/* 
.add-sub-block {
	position: relative;
	background-color: rgba(255, 255, 255, 0.445);
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10px 10px 10px 10px;
}

.add-main-block {
	background-color: aqua;
	margin: 20px;
	padding: 10px;
	width: 250px;
	border-radius: 15px 15px 15px 15px;
}

.top-name {
	background-color: rgb(228, 243, 144);
	padding: 20px;
	margin-bottom: 5px;
	border-radius: 15px 45px 15px 45px;
	/* (shadow)
	box-shadow: 5px 5px 30px rgba(6, 6, 6, 0.5);
}
*/

.add-sub-block select {
	display: none;
}

.dropdown {
	margin-bottom: 5px;
}

.myInput {
	font-size: 16px;
	padding: 10px 10px 10px 10px;
	border: none;
}

.myInput:focus {
	outline: 3px solid #ddd;
}

.dropdown-content .dropdown-item:hover {
	background-color: #f1f1f1;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f6f6f6;
	min-width: 230px;
	border: 1px solid #ddd;
	z-index: 1;
}

.show {
	display: block;
}

.dropdown-item{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.tableShow{
	display: none;
}